#root {
  background: #1a1a1a;
  color: #fff;
}

.navcolor {
  color: #fff;
}

.firstsec {
  padding-top: 39px;
}

.card {
  border-radius: 18px !important;
  background: #1a1a1a !important;
  box-shadow: 13px 13px 25px #161616, -13px -13px 25px #1e1e1e !important;
}

h1,
h2,
h3,
h4 {
  color: #227c70;
  font-weight: bold !important;
}

.progress-bar {
  background-color: #227c70 !important;
}

.icon {
  height: 25px;
  widht: 25px;
}
